In [6]:
import numpy as np

# Create array of 10 numbers
arr = np.array([12, 7, 22, 5, 9, 13, 15, 8, 20, 11])

# Compute mean, std, min
mean_val = arr.mean()
std_val = arr.std()
min_val = arr.min()

print("Mean:", mean_val)
print("Standard Deviation:", std_val)
print("Minimum Value:", min_val)

Mean: 12.2
Standard Deviation: 5.2306787322488075
Minimum Value: 5

In [ ]:
import pandas as pd

# Create fake data
data = {
    "Name": ["Anita", "Rami", "Yasmin", "Tariq", "Ines"],
    "Age": [28, 35, 22, 30, 26],
    "Country": ["Tunisia", "Morocco", "Algeria", "Egypt", "Libya"],
    "Score": [88, 75, 92, 70, 85]
}

df = pd.DataFrame(data)
print(df)
print(df.describe())
print(df.info())
print(df["Country"])

     Name  Age  Country  Score
0   Anita   28  Tunisia     88
1    Rami   35  Morocco     75
2  Yasmin   22  Algeria     92
3   Tariq   30    Egypt     70
4    Ines   26    Libya     85
             Age      Score
count   5.000000   5.000000
mean   28.200000  82.000000
std     4.816638   9.192388
min    22.000000  70.000000
25%    26.000000  75.000000
50%    28.000000  85.000000
75%    30.000000  88.000000
max    35.000000  92.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Country  5 non-null      object
 3   Score    5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None
0    Tunisia
1    Morocco
2    Algeria
3      Egypt
4      Libya
Name: Country, dtype: object